<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="nmc_system_vb.My.MySettings.NewMalayan1ConnectionString"
            connectionString="Data Source=JERICHO\SQLEXPRESS;Initial Catalog=NewMalayan1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="NewMalayan1Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JERICHO\SQLEXPRESS;initial catalog=NewMalayan1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
            providerName="System.Data.EntityClient" />
        <add name="NewMalayan1Entities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JERICHO\SQLEXPRESS;initial catalog=NewMalayan1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
            providerName="System.Data.EntityClient" />
        <add name="nmc_system_vb.My.MySettings.EzeeDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\NewMalayan.mdf;Integrated Security=False;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="nmc_system_vb.My.MySettings.NewMalayanConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\NewMalayan.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="nmc_system_vb.My.MySettings.nmc_databaseConnectionString"
            connectionString="server=localhost;user id=root;database=nmc_database;persistsecurityinfo=False;password=MySQL@1988"
            providerName="MySql.Data.MySqlClient" />
        <add name="nmc_system_vb.My.MySettings.nmc_databaseConnectionString1"
            connectionString="server=localhost;user id=root;database=nmc_database;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="nmc_system_vb.My.MySettings.nmc_databaseConnectionString2"
            connectionString="server=localhost;user id=root;database=nmc_database;persistsecurityinfo=True;password=MySQL@1988"
            providerName="MySql.Data.MySqlClient" />
        <add name="nmc_system_vb.My.MySettings.nmc_databaseConnectionString_f"
            connectionString="server=localhost;user id=root;password=MySQL@1988;database=nmc_database;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>